<div class="md-padding" flex layout-sm="column">
  <md-card>
    <md-card-content>
      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Username : {{vm.profile.username}}</span>
            <span class="md-subhead">First name : {{vm.profile.firstName}} </span>
            <span class="md-subhead">Last name : {{vm.profile.lastName}} </span>
            <span class="md-subhead">Email : {{vm.profile.email}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media" src></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end" >
           <md-button class="md-raised md-primary" ng-disabled="vm.showUpdate" ng-click="vm.update()">Update account</md-button>
        </md-card-actions>
    </md-card-content>
  </md-card>

  <md-card ng-show="!vm.showUpdate">
    <md-card-content>
      <div layout="row" layout-align="center center">
        <div flex="40" style="padding-top:76px;">
          <md-list class="md-dense">
            <md-subheader class="md-no-sticky">List teams</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="item in vm.listTeams">         
                <div class="md-list-item-text" layout="column">
                  <h3>Name : {{ item.name }}</h3>     
                  <p>Size : {{ item.size }}</p>
                </div>
              </md-list-item>
            <md-divider ></md-divider>
          </md-list>
        </div>
        <div flex="40">
          <md-input-containe>
              <md-select class="md-block" ng-change="vm.selectTeam()" ng-model="vm.teamSelected" style="min-width: 200px; max-width: 200px">
                  <md-option 
                      ng-repeat="team in vm.listTeams" 
                      value="{{team.name}}">{{team.name}}
                  </md-option>
              </md-select>
          </md-input-container>    
          <md-list class="md-dense">
            <md-subheader class="md-no-sticky">List users</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="item in vm.listUsers">         
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.username }}</h3>
                  <p>{{ item.email }}</p>
                </div>
              </md-list-item>
            <md-divider ></md-divider>
          </md-list>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>


<!-- 

{"id":2,
"username":"micky",
"firstName":"lolo",
"lastName":"chchca",
"email":"michela.zucca@lala.ch"}



        <div><md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky">List users</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="item in vm.listUsers">         
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.username }}</h3>
                  <h4>{{ item.email }}</h4> 
                </div>
              </md-list-item>
            <md-divider ></md-divider>
          </md-list>
        </div>
-->